/* 
<Firechip™ IDE: Is a free (GNU) source code editor for electronics designer.>
 Copyright © 2012 "Alexander Salas" <alexander@firechip.info>

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by 
 the Free Software Foundation, either version 3 of the License, or
 any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program. If not, see <http://www.gnu.org/licenses/>.*/

#include <windows.h>
#include "resource.h"

104 DIALOG 0, 0, 275, 265
STYLE WS_CHILD | WS_VISIBLE
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Sans Serif"
{
   CONTROL "", 202, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 83, 7, 108, 65 
   CONTROL "Help", 234, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 144, 179, 50, 14 
   CONTROL "Restore Defaults", 233, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 198, 179, 64, 14 
   CONTROL "", 205, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 13, 196, 248, 14 
   CONTROL "", 283, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 13, 238, 248, 14 
   CONTROL "Inherit global settings", 204, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 14, 183, 82, 10 
   CONTROL "Generate Command Line", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 25, 261, 191 
   CONTROL "", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 225, 261, 33 
   CONTROL "Use Alternate Settings", 282, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 13, 224, 86, 10 
   CONTROL "Categories:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 41, 11, 36, 8 
}

105 DIALOG 0, 0, 256, 256
STYLE WS_CHILD
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Sans Serif"
{
   CONTROL "Command-Line Options", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 179, 242, 70 
   CONTROL "", 202, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 73, 7, 108, 65 
   CONTROL "", 205, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 13, 210, 230, 33 
   CONTROL "Restore Defaults", 233, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 179, 191, 64, 14 
}

117 DIALOG 0, 0, 185, 114
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Dialog"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Sans Serif"
{
   CONTROL "OK", 3, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 67, 87, 50, 14 
   CONTROL "The CCS C compiler is not installed on this computer.  If you own the product re-install it.  \n ", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 14, 156, 21 
   CONTROL "Click here for product and ordering  information", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 19, 36, 152, 8 
   CONTROL "http://www.ccsinfo.com/picc", 312, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 27, 45, 94, 8 
   CONTROL "Click here for a free demo", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 61, 159, 8 
   CONTROL "http://www.ccsinfo.com/demo.html", 313, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 27, 72, 113, 8 
}

215 DIALOGEX 0, 0, 245, 140
STYLE DS_CONTROL | WS_CHILD
EXSTYLE WS_EX_TOOLWINDOW | WS_EX_CONTROLPARENT
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Sans Serif"
{
   CONTROL "List File", 296, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 19, 12, 100, 41 
   CONTROL "Normal CCS format", 297, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 25, 22, 75, 10 
   CONTROL "MPASM format", 298, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 25, 31, 63, 10 
   CONTROL "Symbolic format", 299, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 25, 41, 65, 10 
   CONTROL "Debug", 292, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 127, 12, 100, 41 
   CONTROL "None", 295, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 133, 22, 33, 10 
   CONTROL "Expanded COD format", 293, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 133, 31, 87, 10 
   CONTROL "COFF format", 294, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 133, 41, 55, 10 
   CONTROL "Other Files", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 19, 58, 99, 56 
   CONTROL "Call tree", 273, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 25, 70, 41, 10 
   CONTROL "Statistics file", 301, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 25, 80, 55, 10 
   CONTROL "Symbol file", 302, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 25, 90, 49, 10 
   CONTROL "Compiler scratch diagonstic file", 304, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_TABSTOP, 12, 0, 123, 10 
   CONTROL "Add include paths before default", 305, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 50, 117, 118, 10 
   CONTROL "Device Family", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 124, 58, 104, 56 
   CONTROL "PCB - 12 Bit", 314, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 133, 68, 54, 10 
   CONTROL "PCM - 14 Bit", 315, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 133, 78, 55, 10 
   CONTROL "PCH - Pic18", 316, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 133, 88, 55, 10 
   CONTROL "PCDSP - dsPIC", 317, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 133, 98, 65, 10 
   CONTROL "Show Warnings", 318, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 25, 101, 66, 10 
   CONTROL "Automatically include header for target", 306, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 50, 126, 136, 10 
}

218 DIALOGEX 10, 20, 221, 108
STYLE DS_CONTROL | WS_CHILD
EXSTYLE WS_EX_TOOLWINDOW | WS_EX_CONTROLPARENT
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Sans Serif"
{
   CONTROL "Slider1", 311, "msctls_trackbar32", TBS_HORZ | TBS_AUTOTICKS | TBS_ENABLESELRANGE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 35, 50, 154, 22 
   CONTROL "High", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 191, 57, 17, 8 
   CONTROL "Low", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 17, 57, 14, 8 
   CONTROL "Optimization Level", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 81, 39, 58, 8 
}

233 DIALOG 0, 0, 256, 256
STYLE WS_CHILD
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Sans Serif"
{
   CONTROL "This page was left blank intentionally.", -1, STATIC, SS_CENTER | SS_CENTERIMAGE | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_GROUP, 53, 105, 150, 44 
}

234 DIALOG 0, 0, 159, 54
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Sans Serif"
{
   CONTROL "", 284, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 8, 14, 143, 13 
   CONTROL "OK", 1, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 25, 32, 50, 14 
   CONTROL "Cancel", 2, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 85, 32, 50, 14 
}

246 DIALOGEX 0, 0, 256, 141
STYLE DS_CONTROL | WS_CHILD
EXSTYLE WS_EX_TOOLWINDOW
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Sans Serif"
{
   CONTROL "Set a global #define:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 13, 66, 8 
   CONTROL "+", 222, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 224, 25, 10, 11 
   CONTROL "-", 223, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 235, 25, 10, 11 
   CONTROL "", 221, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 7, 37, 242, 70 
   CONTROL "Id:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 119, 9, 8 
   CONTROL "", 298, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 20, 120, 58, 14 
   CONTROL "Value:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 83, 119, 21, 8 
   CONTROL "", 203, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 109, 120, 75, 14 
   CONTROL "Modify", 224, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 215, 120, 34, 14 
   CONTROL "", -1, STATIC, SS_BLACKFRAME | SS_SUNKEN | WS_CHILD | WS_VISIBLE, 7, 21, 242, 17 
   CONTROL "Remove All", 300, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 13, 25, 50, 11 
}

